## Data Pre-processing

In [1]:
# !pip install pyarrow

### 1. Importing libraries

In [2]:
import pandas as pd

import seaborn as sns

import os
import matplotlib.pyplot as plt

import numpy as np
import sidetable

In [3]:
os.getcwd()

'C:\\Users\\40101410\\OneDrive - Anheuser-Busch InBev\\Upskill2024'

In [4]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 '.python-version',
 '.venv',
 'Data',
 'direct-marketing-eda.ipynb',
 'direct-marketing-pre-processing.ipynb',
 'hello.py',
 'main.ipynb',
 'pyproject.toml',
 'raw_data.parquet',
 'README.md',
 'uv.lock']

In [5]:
# Saving data for further pre-processing
df = pd.read_parquet('raw_data.parquet', engine='pyarrow')
df.head()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent
0,Old,Female,Own,Single,Far,47500,0,High,6,755
1,Middle,Male,Rent,Single,Close,63600,0,High,6,1318
2,Young,Female,Rent,Single,Close,13500,0,Low,18,296
3,Middle,Male,Own,Married,Close,85600,1,High,18,2436
4,Middle,Female,Own,Single,Close,68400,0,High,12,1304

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1000 non-null   object
 1   Gender       1000 non-null   object
 2   OwnHome      1000 non-null   object
 3   Married      1000 non-null   object
 4   Location     1000 non-null   object
 5   Salary       1000 non-null   int64
 6   Children     1000 non-null   int64
 7   History      1000 non-null   object
 8   Catalogs     1000 non-null   int64
 9   AmountSpent  1000 non-null   int64
dtypes: int64(4), object(6)
memory usage: 78.2+ KB

In [7]:
# Change number of Children
df = df.astype({'Children': 'object', 'Catalogs': 'object'})

In [8]:
categorical_variables  = df.select_dtypes(include=['object']).columns
categorical_variables

Index(['Age', 'Gender', 'OwnHome', 'Married', 'Location', 'Children',
       'History', 'Catalogs'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1000 non-null   object
 1   Gender       1000 non-null   object
 2   OwnHome      1000 non-null   object
 3   Married      1000 non-null   object
 4   Location     1000 non-null   object
 5   Salary       1000 non-null   int64
 6   Children     1000 non-null   object
 7   History      1000 non-null   object
 8   Catalogs     1000 non-null   object
 9   AmountSpent  1000 non-null   int64
dtypes: int64(2), object(8)
memory usage: 78.2+ KB

In [10]:
#dummy encoding catgeorical varibales

pd.get_dummies(df)

,Salary,AmountSpent,Age_Middle,Age_Old,Age_Young,Gender_Female,Gender_Male,OwnHome_Own,OwnHome_Rent,Married_Married,...,Children_2,Children_3,History_High,History_Low,History_Medium,History_None,Catalogs_6,Catalogs_12,Catalogs_18,Catalogs_24
0,47500,755,False,True,False,True,False,True,False,False,...,False,False,True,False,False,False,True,False,False,False
1,63600,1318,True,False,False,False,True,False,True,False,...,False,False,True,False,False,False,True,False,False,False
2,13500,296,False,False,True,True,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
3,85600,2436,True,False,False,False,True,True,False,True,...,False,False,True,False,False,False,False,False,True,False
4,68400,1304,True,False,False,True,False,True,False,False,...,False,False,True,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,19400,384,False,False,True,True,False,False,True,False,...,False,False,False,False,False,True,False,False,True,False
996,40500,1073,True,False,False,False,True,False,True,False,...,False,False,False,False,False,True,False,False,True,False
997,44800,1417,False,True,False,False,True,True,False,False,...,False,False,False,False,True,False,False,False,False,True
998,79000,671,True,False,False,False,True,True,False,True,...,True,False,False,False,True,False,False,False,True,False
999,53600,973,False,False,True,False,True,False,True,True,...,False,False,False,False,True,False,False,False,False,True